* {
    box-sizing: border-box;
}
#h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.75em;
}

@media (min-width:768px) and (max-width:991px) {
    
    .col-md-6 {
        float: left;
        width: 50%;      
    }

    p {
        position: relative;
        padding: 32px 10px 10px 10px;
        margin:10px 10px 10px 10px;
        background-color: cyan;
        border: 1px solid black;
    }
    .col-md-12 {
        float: left;
        width: 100%;
    }
      
}
@media (max-width:767px) {
    
    .col-sm-12 {
        float: left;
        width: 100%;
        
        

    }
    p {
        position: relative;
        padding: 32px 10px 10px 10px;
        margin:10px 10px 10px 10px;
        background-color: cyan;
        border: 1px solid black;
    }
    
    
}

@media (min-width:992px) {
    
    .col-lg-4 {
        float: left;
        width: 33.33%;
    }
    p {
        position: relative;
        padding: 32px 10px 10px 10px;
        margin:10px 10px 10px 10px;
        background-color: cyan;
        border: 1px solid black;
    }   
    
}

.stitle1 {
    font-size: 1.25em;
    background-color: palevioletred;
    border: 1px solid black;
    position: absolute;
    top: 0%;
    right: 0%;
    padding:3px;
    width: 30%;
    text-align: center;
}
.stitle2 {
    font-size: 1.25em;
    background-color: yellowgreen;
    border: 1px solid black;
    position: absolute;
    top: 0%;
    right: 0%;
    padding:3px;
    width: 30%;
    text-align: center;
}
.stitle3 {
    font-size: 1.25em;
    background-color: rgb(50, 131, 127);
    border: 1px solid black;
    position: absolute;
    top: 0%;
    right: 0%;
    padding:3px;
    width: 30%;
    text-align: center;
}

